{
    "arrowParens": "always",
    "bracketSpacing": true,
    "singleQuote": true,
    "plugins": ["prettier-plugin-astro"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.{yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
